doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Chatty
    link(rel="stylesheet", href="/build/style.css")
  body 
    #root
      #container 
        #rooms
          div
            div Rooms 
            ul

        #wrapper
          header
            div
              button#rooms-menu Rooms
            
            #header {{ .room }}

            div
              span#online {{ .users }} online

          #messages

          #chat-input
            .typing
            form 
              #input
                input(type="text" placeholder="Say Hi! 👋")
              #submit
                button(type="submit") SEND

    script(src="/build/index.js") 